<mapper namespace="user">
    <!--sql的唯一标识：namespace.id来组成： statementId-->
    <select id="selectList" resultType="com.cuizx.pojo.User" >
        select * from user
    </select>

    <!--
       User user = new User();
       user.setId(1);
       user.setUsername("zhangsan")
     -->
    <select id="selectOne" resultType="com.cuizx.pojo.User" paramterType="com.lagou,pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>
</mapper>